<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/bootstrap/css/login.css">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
		<title>安信股票交易系统</title>
	</head>
	<body>
		<div class="grad">
			<div class="title">安信股票交易系统</div>
			<div class="logindiv">
				<form class="bs-example bs-example-form" role="form">
					<div class="input-group input-group-lg">
						<span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
						<input type="text" id="accountName" class="form-control" name="username" placeholder="用户名" placeholder="请输入账号">
					</div>
					<br>
					<div class="input-group input-group-lg">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password"  id="password" class="form-control" name="password" placeholder="请输入密码">
					</div>
					<br>

					<div class="input-group input-group-lg" style="margin: 0 auto;width:100%;">
						<button type="submit"  onClick="checkUser()" value="login" class="buttonlarg btn btn-primary btn-lg" style="width:100%;">登陆</button>
					</div>
				</form>
			</div>
		</div>
		<script>
			$("[name='username'] ,[name='password']").focus(function() {
				$("#hint").empty();
			})
		</script>
	</body>
	<script type="text/javascript"> 
           
		//验证表单是否为空，若为空则将焦点聚焦在input表单上，否则表单通过，登录成功
		function checkUser(form){
			var accountName = $("#accountName").val();
			var password = $("#password").val();
			console.log(accountName+password);
			// if(!accountName || accountName == ""){
			//     showMsg("请输入用户名");
			//     form.accountName.focus ();
			//     return false;
			// }
			if(!password || password == ""){
				showMsg("请输入密码");
				form.password.focus ();
				return false;
			}
//这里为用ajax获取用户信息并进行验证，如果账户密码不匹配则登录失败，如不需要验证用户信息，这段可不写
			$.ajax({
				url : "/checkUser",// 获取自己系统后台用户信息接口
				data :{"accountName":accountName,"password":password},
				type : "post",
				dataType: "json",
				success : function(data) {
					if (data){
						console.log(data)
						if (data.code == "200") { //判断返回值，这里根据的业务内容可做调整
							// setTimeout(function () {//做延时以便显示登录状态值
							//     showMsg("正在登录中...");
							//     console.log(data);
							//     window.location.href =  "/";//指向登录的页面地址
							// },10)
							console.log(data);
							window.location.href =  "/";//指向登录的页面地址
						} else {
							showMsg(data.tips);//显示登录失败的原因
							window.location.href =  "/userLogin";//指向登录的页面地址POST
						}
					}
				},
				error : function(data){
					showMsg(data.message);
				}
			});
		}

		//错误信息提醒
		function showMsg(msg){
		   // $("#CheckMsg").text(msg);
		   alert(msg);
		}

		//监听回车键提交
		$(function(){
			document.onkeydown=keyDownSearch;
			function keyDownSearch(e) {
				// 兼容FF和IE和Opera
				var theEvent = e || window.event;
				var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
				if (code == 13) {
					$('#submit').click();//具体处理函数
					return false;
				}
				return true;
			}
		});
	</script>  
</html>
